body{
	padding-top: 50px;

}

#starter{
	background-color: #f2f2f2;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.large_size{
	font-size: 18px;
}

.id_devis{
	cursor: pointer;
}

#page-wrapper{
	padding: 0 30px;
	border-left: 1px solid #e7e7e7;
}